header {
  background-image: url("../img/banner/home-banner.jpg"); }

.d-flex {
  display: flex; }

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: auto; }
  ul li {
    margin: 10px; }
    ul li a {
      text-decoration: none;
      color: white; }

.navheader img {
  padding-top: 2%; }

.margin, .bestapp, .bestparagraph, button {
  margin-left: 5%; }

.container {
  width: 90%;
  margin: 0 auto; }

.bestapp {
  color: white;
  width: 50%; }

.bestparagraph {
  color: white;
  width: 65%; }

button {
  padding: 2%;
  width: 30%;
  background-color: white;
  border-radius: 15%;
  margin-top: 3%; }

.content {
  width: 100%;
  margin-top: 2%;
  padding-bottom: 5%; }

.image {
  width: 50%;
  margin-left: auto; }

.text {
  width: 50%; }

.mobile {
  margin-left: 30%; }

.elements {
  background-color: white;
  padding: 1%;
  width: 7%;
  margin-left: 50%;
  text-align: center; }

.unique_fetures {
  margin-top: 8%;
  text-align: center; }

.unique_fetures p {
  width: 50%;
  margin-left: 25%; }

.cards {
  justify-content: space-between;
  margin-top: 5%; }

.card {
  background-color: white;
  border-radius: 10%;
  text-align: left;
  border: 1px solid #f3eded;
  box-shadow: cadetblue;
  border-radius: 5%;
  margin: 1%; }

.card h3 {
  padding-left: 10%; }

.card img {
  margin-left: 0%;
  padding-left: 10%;
  padding-top: 2%; }

.card p {
  text-align: left;
  margin-left: 0%;
  padding-left: 10%; }

.interior {
  background-color: #dde6f3;
  margin-top: 5%; }

.interior img {
  margin-top: 5%;
  padding-bottom: 2%; }

.interiortxt {
  width: 25%;
  display: block;
  margin-top: 8%; }
  .interiortxt h2 {
    padding-top: 10%;
    width: 100%;
    margin-left: 8%; }
  .interiortxt p {
    margin-left: 8%; }
  .interiortxt button {
    padding: 5% 0%;
    margin-top: 5%;
    width: 50%;
    color: white;
    background-image: url("../img/banner/banner.jpg"); }

.interior2 {
  margin-top: 10%; }
  .interior2 img {
    margin-left: auto; }

.interiortxt2 {
  width: 25%;
  margin-top: 10%;
  margin-left: 5%; }
  .interiortxt2 button {
    padding: 5% 0%;
    margin-top: 5%;
    width: 50%;
    color: white;
    background-image: url("../img/banner/banner.jpg"); }

.video {
  margin-top: 5%;
  width: 80%;
  background-image: url("../img/video-1.png");
  justify-content: center;
  align-items: center;
  padding-bottom: 5%; }
  .video img {
    padding-top: 15%;
    padding-bottom: 15%; }

.pricing {
  padding-top: 5%;
  text-align: center;
  background-color: #dde6f3;
  margin-top: 5%; }
  .pricing p {
    width: 60%;
    margin-left: 20%; }

.card {
  background-color: white;
  border: 2px solid white;
  justify-content: center; }
.card p{
  margin-left: 0%;
  width: 100%;
}